<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{if hasmath}} {{insert head_katex.html }}     {{end}}
    {{if hascode}} {{insert head_highlight.html }}   {{end}}
    <link rel="stylesheet" href="/css/franklin.css">
    <link rel="stylesheet" href="/css/minimal-mistakes.css">
    <link rel="stylesheet" href="/css/adjust.css">
    <link rel="stylesheet" href="/css/custom.css">
    <title>{{fill title}}</title>
</head>
<body>
    {{insert masthead.html}}
    <div class="franklin-content">